{% extends 'base.html.twig' %}

{% block title %}Accueil covid-19 france{% endblock %}

{% block body %}

    <div class="container">
          <div data-aos="fade-up">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">
                <strong class="text-danger">{{ nom }}</strong>
            </h1>
            <p class="lead">{{ sourceType }}</p>
            <p class="lead">Source : sante-publique-france-data &nbsp;
                {{ date | date('d-m-Y') }}</p>
        </div>
        
        <div class="card mb-5 shadow-lg">
            <div class="card-body">
                {{ render_chart(france_bar) }}
            </div>
        </div>
        <hr class="mb-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3 shadow text-center">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Hospitalisation</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title" style="color: #169af2;">
                                {% set base = 0 %}
                                {{ taux_hospi }}
                                {% if taux_hospi > base %}
                                    <strong><img src="{{ asset('/icons/arrow-up-right-circle.svg') }}" alt="+" width="32" height="32"></strong>
                                    {% elseif taux_hospi < base %}
                                    <strong><img src="{{ asset('/icons/arrow-down-right-circle.svg') }}" alt="-" width="32" height="32"></strong>
                                    {% else %}
                                    <strong><img src="{{ asset('/icons/arrows-collapse.svg') }}" alt="=" width="32" height="32"></strong>
                                    {% endif %}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3 shadow text-center">
                        <div class="card-header ">
                            <h4 class="my-0 fw-normal">Réanimations</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title" style="color: #DCE316;">
                                {% set base = 0 %}
                                {{ taux_rea }}
                                {% if taux_rea > base %}
                                    <strong><img src="{{ asset('/icons/arrow-up-right-circle.svg') }}" alt="+" width="32" height="32"></strong>
                                    {% elseif taux_rea < base %}
                                    <strong><img src="{{ asset('/icons/arrow-down-right-circle.svg') }}" alt="-" width="32" height="32"></strong>
                                    {% else %}
                                    <strong><img src="{{ asset('/icons/arrows-collapse.svg') }}" alt="=" width="32" height="32"></strong>
                                    {% endif %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3 shadow text-center">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Guéris</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title" style="color: #169af2;">
                                {% set base = 0 %}
                                {{ taux_gueris }}
                                {% if taux_gueris > base %}
                                    <strong><img src="{{ asset('/icons/arrow-up-right-circle.svg') }}" alt="+" width="32" height="32" /></strong>
                                    {% elseif taux_gueris < base %}
                                    <strong><img src="{{ asset('/icons/arrow-down-right-circle.svg') }}" alt="-" width="32" height="32" /></strong>
                                    {% else %}
                                    <strong><img src="{{ asset('/icons/arrows-collapse.svg') }}" alt="=" width="32" height="32" /></strong>
                                    {% endif %}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3 shadow text-center">
                        <div class="card-header ">
                            <h4 class="my-0 fw-normal">Décès</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title" style="color: #DCE316;">
                                {% set base = 0 %}
                                {{ taux_deces }}
                                {% if taux_deces > base %}
                                    <strong><img src="{{ asset('/icons/arrow-up-right-circle.svg') }}" alt="+" width="32" height="32"></strong>
                                    {% elseif taux_deces < base %}
                                    <strong><img src="{{ asset('/icons/arrow-down-right-circle.svg') }}" alt="-" width="32" height="32"></strong>
                                    {% elseif taux_deces == base %}
                                    <strong><img src="{{ asset('/icons/arrows-collapse.svg') }}" alt="=" width="32" height="32"></strong>
                                    {% endif %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" text-sm-center">
                <h2 class="text-center"> <span class="badge btn-outline-danger">Régions - Outre-Mer</span></h2>
            </div>
            {{ knp_pagination_render(regions,'main/pagination.html.twig') }}
            <div class="row" >
                {% if regions is defined %}
                    {% for region in regions  %}
                        <div class="col-md-4" id="card_index">
                            <div class="card mb-4 text-center shadow-lg border-white">
                                <div class="card-header">
                                    <h6 class=" text-sm-center text-primary ">{{ region.nom | upper }}</h6>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-center text-danger">
                                        Décès :&nbsp; <strong class="text-primary">{{ region.deces }}</strong></p>
                                    <p class="card-text text-center text-danger">
                                        Guéris : &nbsp;<strong class="text-primary">{{ region.gueris }}</strong></p>
                                    <small class="text-muted">
                                        <div class="btn-group">
                                            <a href="{{ path('app_region',{'region':region.nom} )}}" class="btn btn-sm btn-outline-warning">En savoir plus</a>
                                        </div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %} 
            </div>
            {{ knp_pagination_render(regions,'main/pagination.html.twig') }}
        </div>
        <hr class="mb-4">
    </div>
{% endblock %}
